.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-button {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button {
    background: #94ff6d;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.form-content {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.error {
    color: red;
    text-decoration-color: red;
    font-size: small;
}

.form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}