.card {
    background: #ffffff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 364px;
    width: 348px;
    border: 1px solid rgba(0, 0, 0, 0.15);


}


.card__image__2 {
    margin: 10px;
    width: 324px;
    height: 196px;
    background: no-repeat;
  }
  
  
  .Data {
    display: flex;
    width: 100%;
    margin: 10px;
    flex-direction: column;
  }
 
  .D1P {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  
  .D2P {
    
    margin-top: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #747475;
  }
  

  .like{
    height: 90%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
 
  /* identical to box height */
  font-feature-settings: 'salt' on;
  
  /* Text/color2 */
  color: #747475;
  }
  
  .like__1{
    height: 20%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  font-feature-settings: 'salt' on;
  
  /* Text/color2 */
  color: #747475;
  }
  